@import "../../variables";

.ps-main {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;

  &__sections {
    max-width: 1152px;
    margin: auto;
  }
  &__wrapper-image-title {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
    min-height: 100%;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 1s;
    @media (min-width: 768px) {
      height: 320px;
      width: 320px;
      min-width: 320px;
    }
    img {
      width: auto;
      height: 100%;
      object-fit: fill;
    }
  }

  h2 {
    font-size: 24px;
    margin: 10px 0px 20px;
    color: $darkCyanTwo;
    text-align: center;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    width: 100%;
  }

  &__who {
    display: flex;
    padding: 1rem 40px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    p {
      padding: 0;
      margin: 0;
      text-align: center;
      color: darken($darkCyan, 30%);
      font-size: 20px;
      line-height: 1.5;
      max-width: 480px;
    }
  }

  &__data {
    color: #ffffff;
    position: relative;
    padding: 2rem 40px;

    &--info {
      color: $darkColor;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      font-size: 12px;
      width: 100%;
      height: auto;
      padding: 16px 16px 16px 16px;
      @media (min-width: 768px) {
        width: 60%;
        max-width: 60%;
      }
    }

    .icon {
      display: inline-block;
      width: 14px;
      height: 14px;
      padding-right: 0.5rem;
      &-location {
        background: url("/location-white.svg") no-repeat center center;
      }
      &-phone {
        background: url("/phone-white.svg") no-repeat center center;
      }
      &-site {
        background: url("/site-white.svg") no-repeat center center;
      }
      &-email {
        background: url("/email-white.svg") no-repeat center center;
      }
    }
    .ps-main__title {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        color: $darkCyanTwo;
        font-size: 32px;
        line-height: 1.1em;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 54px;
          text-align: left;
          width: 800px;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0.25rem 0 0rem 0;
    a,
    a:active,
    a:focus,
    a:visited {
      text-decoration: none;
      color: $darkColor;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &--description {
      justify-content: flex-start;
      padding: 0.5rem 0;
      position: relative;
      height: 104px;
      &__text {
        position: absolute;
        top: 0.5rem;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        height: 72px;
        margin: 0;
        text-align: left;
        color: darken($darkCyan, 30%);
        font-size: 22px;
        font-weight: 700;
        max-width: 480px;
        line-height: 1.5em;
        opacity: 0;
        @media (min-width: 768px) {
          font-size: 28px;
        }
        &--animation {
          animation: fadeInOut 3s;
        }
      }
      .hide {
        opacity: 0;
      }
    }
    .icon {
      margin-left: 0.25rem;
    }
  }
  &__call-to-actions {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 1rem 0;
    z-index: 10;
    transition: 0.5s ease-in;
    &.ps-main__call-to-actions--fixed-limit {
      bottom: 92px;
    }
  }
  &__maps-and-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
  }
  &__maps {
    padding: 16px;
    width: 100%;
    max-width: 100%;
    @media (min-width: 768px) {
      width: 60%;
      max-width: 60%;
    }
  }
  &__funcy-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    position: relative;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20%,
  30%,
  40%,
  50%,
  60%,
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//funcy button
$button-width: 144px;
$button-height: 48px;
$button-color: $darkCyanTwo;
$button-font-size: 12px;

$frill-vert-space: 45px; //vertical spacing between frills
$frill-horizontal-offset: 14px; //initial offset
$frill-distance: 80px; //distance moved by frills
$frill-stagger: 15px; //distance between center and edge frills

$frill-rotation: 34deg;
$frill-height: 8px;
$frill-width: 38px;

$speed: 0.38s;
$timing-function: ease-out;

.button {
  background: $button-color;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 9px;
  color: white;
  cursor: pointer;
  font-size: $button-font-size;
  height: $button-height;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  width: $button-width;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .icon-phone {
    height: 26px;
    width: 24px;
    background: url("/phone-cyan_old.svg") no-repeat;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0.5rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  &:hover {
    background: lighten($button-color, 4%);
  }
  &:active {
    box-shadow: inset 0px 2px 8px -1px darken($button-color, 6%);
  }
}

.fancy-button {
  margin: auto;
  position: relative;
}
.frills,
.frills:after,
.frills:before {
  position: absolute;
  background: $button-color;
  border-radius: ($frill-height/2);
  height: $frill-height;
}
.frills:after,
.frills:before {
  content: "";
  display: block;
}
.frills:before {
  bottom: $frill-vert-space;
}
.frills:after {
  top: $frill-vert-space;
}
.left-frills {
  right: $button-width + $frill-horizontal-offset;
  top: ($button-height/2)- ($frill-height/2);
  .active & {
    animation: move-left $speed $timing-function, width-to-zero $speed $timing-function;
  }

  &:before,
  &:after {
    left: $frill-stagger;
  }
  &:before {
    .active & {
      animation: width-to-zero $speed $timing-function, move-up $speed $timing-function;
    }
  }
  &:after {
    .active & {
      animation: width-to-zero $speed $timing-function, move-down $speed $timing-function;
    }
  }
}
.right-frills {
  left: $button-width + $frill-horizontal-offset;
  top: ($button-height/2)- ($frill-height/2);
  .active & {
    animation: move-right $speed $timing-function, width-to-zero $speed $timing-function;
  }
  &:before,
  &:after {
    right: $frill-stagger;
  }
  &:before {
    .active & {
      animation: width-to-zero $speed $timing-function, move-up $speed $timing-function;
    }
  }
  &:after {
    .active & {
      animation: width-to-zero $speed $timing-function, move-down $speed $timing-function;
    }
  }
}

.left-frills:before,
.right-frills:after {
  transform: rotate($frill-rotation);
}

.left-frills:after,
.right-frills:before {
  transform: rotate(-$frill-rotation);
}

@keyframes move-left {
  0% {
    transform: none;
  }
  65% {
    transform: translateX(-1 * $frill-distance);
  }
  100% {
    transform: translateX(-1 * $frill-distance);
  }
}
@keyframes move-right {
  0% {
    transform: none;
  }
  65% {
    transform: translateX($frill-distance);
  }
  100% {
    transform: translateX($frill-distance);
  }
}
@keyframes width-to-zero {
  0% {
    width: $frill-width;
  }
  100% {
    width: $frill-height;
  }
}
@keyframes move-up {
  0% {
  }
  100% {
    bottom: $frill-vert-space * 1.55;
  }
}
@keyframes move-down {
  0% {
  }
  100% {
    top: $frill-vert-space * 1.55;
  }
}
