@import "../../variables";

.ps-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $whiteColor;
    border-radius: 4px;
    height: 100%;
    .ps-header {
      background-color: $darkColor;
    }
    .ps-banner {
      background-color: $darkCyanTwo;
      background-color: $darkCyan;
    }
    .ps-main__container {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}

.image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
}
