.ps-footer {
  padding: 1rem 0;
  height: 60px;
  background: #f7f7f7;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &__copyright {
    color: #787878;
    margin: 1rem;
  }
}
